/****************************/
/** Styles du site Kiroule.com **/

/* Conteneur global avec options par defaut */


html{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(https://drive.google.com/uc?export=view&id=1FmjAZt3ujn_2PSBrSHIG2fWHb-kfEeZd);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	font-size: 70pt;
	color : black;
	text-shadow: 0 0 0.1em white, 0 0 0.1em white,0 0 0.1em white;
}

h2 {
	margin-top: -70px;
	margin-left: 40px;
	margin-bottom: 100px;
	font-size: 15pt;
	color : black;
}

h4 {
	padding: 8px;
	margin-bottom: -15px;
}

p {
	text-indent: 5mm;
	padding: 8px;
	text-align: justify;
	font-size: 10pt;
}

/*--------------------CONTENEURS INDEX-------------------------*/

.mainContainer {
	display: block;
	position: absolute;
	margin-left: 300px;
	margin-right: 50px;
	margin-top: 6%; /* à partir du header */
	margin-bottom: 1%;
	height: 50%;
	z-index: 0;
}

.actuContainer {
	background-attachment: fixed;
	display: block;
	position: relative;
	margin-left: 41.4%;
	margin-right: 0.5%;
	height: 71%;
	margin-top: 0.5%;
	background-color: rgb(255, 255, 255); 
	border: 1px solid  black;
	border-radius: 3px;
	padding: 3mm;
	overflow: scroll;
	transition: filter 1s;
}
.actuContainer img{
	width: 40%;
	max-width: 50%;
	float : left ;
	border: 2px solid  black;
	margin-right: 20px;
	background-color: black;
}

.actuContainer:hover{
	filter: drop-shadow(0px 0px 5px black);
	transition: filter 1s;
}

.actuAuthor{
	text-align: right;
	font-size: 10pt;
}

.contactContainer {
	display: flex;
	position: relative;
	background-color: rgb(255, 255, 255); 
	border: 1px solid  black;
	margin-left: 41.4%;
	margin-right: 0.5%;
	margin-top: 0.5%;
	border-radius: 3px;
	padding : 3mm;
	transition: filter 1s;
	vertical-align: middle;
	text-align: center;
	overflow: scroll;
}

.contactContainer:hover{
	filter: drop-shadow(0px 0px 5px black);
	transition: filter 1s;
}

.elementContact p{
	text-indent: 0px;
	display: inline;
	background-color: black;
	color: white;
	vertical-align:middle;
	
}

.elementContact {
	position: relative;
	text-align: center;
}

.contactContainer .elementContact img{
	display: inline-table;
	vertical-align: middle;
	max-height: 30px;
}

.diapoContainer img{
    position: absolute;
    max-width: 99%;
    max-height: 99%;
    border: 1px solid  black;
    background-color: rgb(51, 49, 49);
    border-radius: 3px;
}

.diapoContainer {
    display: block;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 40%;     /* "sécurité" si image pas au format */
    height: 96.5%;
    transition: filter 1s;
}

.diapoContainer:hover{
	filter: drop-shadow(0px 0px 5px black);
	transition: filter 1s;
}
  

@keyframes display { /* Animation 'fondu' */
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    5% {
        transform: translateX(0);
        opacity: 1;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    15% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}
  
.diapoContainer > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 60s infinite;                    /* Lancement animation */
}

img:nth-child(2) {                  /*Cible l'élément ayant 2-1 élément le précédent, dans ce cas c'est l'élément image 2*/
    animation-delay: 6s;
}
img:nth-child(3) {
    animation-delay: 12s;
}
img:nth-child(4) {
    animation-delay:18s;
}
img:nth-child(5) {
    animation-delay: 24s;
}
img:nth-child(6) {
    animation-delay: 30s;
}
img:nth-child(7) {
    animation-delay: 36s;
}
img:nth-child(8) {
    animation-delay: 42s;
}
img:nth-child(9) {
    animation-delay: 48s;
}
img:nth-child(10) {
    animation-delay: 54s;
}

/*------------------SCROLLBAR------------------*/

::-webkit-scrollbar {
	width: 8px;
}	
  
/* Track */
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(75, 75, 75);
}

/*------------------------HEADER--------------------------- */

.logo  {
	filter: drop-shadow(5px 5px 5px );
}

header{
    height : 230px;
	text-align: center;
	position: relative;
}

header > img {
	float: left;
}

#elementHeader { /*Contient les elements du "header", sauf le logo */
	margin-left: 280px;
    text-align: Left;
}

/*------------------------FOOTER--------------------------- */

footer{
	background:black;
	position:absolute;
	bottom:0;
	color: white;
	width:100%;
	height:2vh;
	margin-left: -8px;
	z-index: -2;
	text-align: center;
	padding-top: 4px;
}

/*--------------------MENU HORIZONTAL------------------------*/

#menu_horizontal {

	position:absolute;
	margin-left: -40px;
	margin-top: -2.5%;
	display:inline-block;
	width: 80vw;
	height:8vw;
	z-index: 0; 	/*Si le menu horizontal venait à se superposer au "body", le menu reste accessible*/

}

.descLambo, .descFerrari, .descAston, .descContact, .descAccueil{
	display: flex;
	justify-content: center;
	font-style: italic;
	color: white;
	font-size: 0.8vw;
	visibility: hidden;
}

#menu_horizontal li {
	display:inline-block;
	background-color: rgb(0, 0, 0, 0.3);
	border: 3px solid  grey;
	margin: 3px;
	width: 10vw;
	height: 1.5vw;
	border-radius:	0.5vw;
	text-align: center;
	transition : 0.7s;
	z-index: 1;
}

#menu_horizontal .menuH_container:hover{
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	width: 20%;
	height: 90%;
	text-align: center;
	color: white;
	transition : 0.7s;
}

/*-------------- MENU H LAMBORGHINI ---------------*/

#menu_horizontal li:hover .descLambo{
	text-align: center;
	transition : 0.7s;
	display : flex;
	color: White;
	text-shadow: 0 0 0.6em orange, 0 0 0.6em orange,0 0 0.6em orange;
	visibility: visible;
}

#menu_horizontal .lambo:hover {
	background-image: url(https://drive.google.com/uc?export=view&id=1zNgQO2oj8vm8YSYle5BBVNLHQpmV_uk-);
	text-shadow: 0 0 0.6em orange, 0 0 0.6em orange,0 0 0.6em orange;
	border: 3px solid  orange;
	background-size: 102%;
}

/*-------------- MENU H ASTON ---------------*/

#menu_horizontal li:hover .descAston{
	text-align: center;
	transition : 0.7s;
	display : flex;
	color: White;
	text-shadow: 0 0 0.6em black, 0 0 0.6em black,0 0 0.6em black;
	visibility: visible;
}

#menu_horizontal .aston:hover {
	background-image: url(https://drive.google.com/uc?export=view&id=143AWAzOjc5oqGWDdBFoqPZnyPt8s1ps8);
	background-size: 102%;
	border: 3px solid  black;
	text-shadow: 0 0 0.6em black, 0 0 0.6em black,0 0 0.6em black;
}

/*-------------- MENU H FERRARI ---------------*/

#menu_horizontal li:hover .descFerrari{
	text-align: center;
	transition : 0.7s;
	display : flex;
	color: White;
	text-shadow: 0 0 0.6em blue, 0 0 0.6em blue,0 0 0.6em blue;
	visibility: visible;
}

#menu_horizontal .ferrari:hover {
	background-image: url(https://drive.google.com/uc?export=view&id=1HXPsriY3r6sh1CKQmk-ZG_oQCndn0Jjk);
	background-size: 105%;
	border: 3px solid  blue;
	text-shadow: 0 0 0.6em blue, 0 0 0.6em blue,0 0 0.6em blue;
}

/*-------------- MENU H CONTACT ---------------*/

#menu_horizontal li:hover .descContact{
	text-align: center;
	transition : 0.7s;
	display : flex;
	color: White;
	text-shadow: 0 0 0.6em grey, 0 0 0.6em grey,0 0 0.6em grey;
	visibility: visible;
}

#menu_horizontal .contact:hover {
	background-image: url(https://drive.google.com/uc?export=view&id=10jfjZe72hMPE_H5mY7enCC4keHkSse8X);
	background-size: 120%;
	border: 3px solid  grey;
	text-shadow: 0 0 0.6em grey, 0 0 0.6em grey,0 0 0.6em grey;

}

/*-------------- MENU H ACCUEIL ---------------*/

#menu_horizontal li:hover .descAccueil{
	text-align: center;
	transition : 0.7s;
	display : flex;
	color: White;
	text-shadow: 0 0 0.6em black, 0 0 0.6em black,0 0 0.6em black;
	visibility: visible;
}

#menu_horizontal .accueil:hover {
	background-image: url(https://drive.google.com/uc?export=view&id=1DBvQzW6rKPh4TFZ3Gqt-s4hbTTVaIB0B);
	background-size: 120%;
	border: 3px solid  white;
	text-shadow: 0 0 0.6em white, 0 0 0.6em white,0 0 0.6em white;

}

/*-------------- MENU H LIENS ---------------*/

#menu_horizontal a{
	color:  white;
	text-align: center;
	font-size: 1vw;
	text-decoration: none;
	transition: all 0.5s;
}

#menu_horizontal li:hover > a {
	color:  white;
	text-align: center;
	font-size: 1.6vw;
	text-decoration: none;
	transition: all 0.5s;
}

/*------------------MENU VERTICAL----------------*/

#menu_vertical {
	display: block;
	position: absolute;
	height: 100%;
	margin-top : -269px;
	margin-left: -8px;
	width: 210px;
	border-right: 2px solid  black;
	background-color: rgb(0, 0, 0, 0.3);
}

#menu_vertical li {

	text-align: right;
	margin-left: 60px;
	z-index: 1;
	list-style: none;
	margin-left: 0px;
	margin-top: 10%;
	padding: 4px;
}

#menu_vertical .elementVertical{
	position: absolute;
	margin-top: max(310px, 45vh); /* Permet de définir un margin-top minimum */
	width: 260px;
	margin-left: -50px;
}

#menu_vertical a {
	color:  white;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	transition: all 0.3s;;
	position: relative;
}

#menu_vertical li:hover > a {
	color:  white;
	text-align: center;
	font-size: 36px;
	text-decoration: none;
	transition: all 0.3s;
	text-shadow: 0 0 0.6em white, 0 0 0.6em grey,0 0 0.6em black;
}

/*-----------------------TABLEAU----------------------*/

.tableContainer {
	text-align: center;
	position: absolute;
	display: inline-flex;
	z-index: 0;
	width: 65vw;
	height: 55vh;
	margin-top: 7%;
	margin-left: 70px;
	background-color: black;
	overflow: scroll;
	border: 1px solid white;
}

.tableChild {
	position: relative;
	border-collapse: collapse;
	background-color: black;
	z-index: -1; /*Le menu horizontal se 'déroulera' par dessus le tableau*/
	color: white;
	width: 100%;
	height: 100%;
	border: 2px solid  white;
	overflow:scroll;
}
  
td, th {
	border: 1px solid white;
	padding: 10px;
	text-align: center;
}

.line {
	transition: all 1s;
}

.line:hover {
	text-shadow: 0 0 0.6em white, 0 0 0.6em white,0 0 0.6em white;
	transition: all 1s;
}

.imgTab {
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(2px);
    opacity: 0.5;
	overflow: hidden;
	transition: all 1s;
	height: 20vh;
	width: 20vw;
	min-width: 10vw;
}

.imgTab:hover {
	filter: blur(0px);
    opacity: 1;
	transition: all 1s;
}

/*---------------------- CONTACT ----------------------*/	

.mainContact {
	background-color: black;
	position: absolute;
	margin-left: calc(50px + 10vw);
	width: 60vw;
	height: 45vh;
	position: absolute;
	display: inline-flex;
	z-index: 0;
	margin-top: 6%;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	overflow:scroll
}

.mainContact label
{
    width: 160px;
    float: left;
}

.mainContact form {
    width: 60%;
	height: 155%;
    margin: 0 ;
    margin-right:auto;
    margin-left:auto;
    color : white;
	display: inline-block;
	padding-bottom: 60px;
}

.choixSexe{
	width: 100%;
    font-size: 16px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	margin-bottom: 35px;
	background: transparent;
}

.mainContact input[type = "text"],.mainContact input[type = "password"] ,.mainContact input[type=email],.mainContact input[type = "date"],.mainContact input[type = "pays"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	background: transparent;
}

.mainContact input[type = "text"]:valid,.mainContact input[type=email]:valid,.mainContact input[type = "date"]:valid,.mainContact input[type = "pays"]:valid {
    border-bottom: 1px solid green;
}

.mainContact input[type = "text"]:invalid,.mainContact input[type=email]:invalid,.mainContact input[type = "date"]:invalid,.mainContact input[type = "pays"]:invalid {
    border-bottom: 1px solid red;
}

.selectPays select{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;

}
.selectPays option{
    background: black;
}

#Message{
    width: 100%;
	height: 25px;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	background-color: transparent;
}

#Message:valid{
    border-bottom: 1px solid green;
}

#Message:invalid{
    border-bottom: 1px solid red;
}

.mainContact input[type = "submit"]{
    display: block;
	margin-right:auto;
	margin-left:auto;
	border-radius:10px;
    width:100px;
    height:40px;
    color: white;
    border-color: white;
    outline: none;
    text-transform: uppercase;
    background: black;
}

.mainContact input[type="submit"]:hover {
    background-color: rgb(54, 54, 54);
}

.mainContact input[type="submit"]:active{
	background-color: rgb(102, 102, 102);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.6;
    filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}

/*---------------------- GESTION STOCKS ----------------------*/

#tableStockCmd{
	border-collapse: collapse;
	background-color: black;
	z-index: -1; /*Le menu horizontal se 'déroulera' par dessus le tableau*/
	color: white;
	height: 100%;
	border: 2px solid  white;
	transition: all 5s;
}

#stock, .stock{
	height: 20vh;
	transition: all 1s;
}


#commande .ctrText{
	text-align: center;
	width: 1vw;
	height: 2vh;
	margin-bottom: 10px;
	border: 4px double black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#commande .btnPanier{
	position:relative;
	background-color: black;
	color : white;
	border-radius: 2px;
	border: 2px solid  white;
	padding: 2px;
	width: 100%;
}

#commande .btnPanier:hover{
	background-color: rgb(54, 54, 54);
}

#commande .btnPanier:active{
	background-color: rgb(102, 102, 102);
}

#commande #btnPlus{
	background-color: black;
	color : white;
	border-radius: 2px;
	border: 2px solid  white;
	width: 25px;
	height: 25px;
}

#commande #btnPlus:hover{
	background-color: rgb(54, 54, 54);
}

#commande  #btnPlus:active{
	background-color: rgb(102, 102, 102);
}

#commande #btnMoins{
	background-color: black;
	color : white;
	border-radius: 2px;
	border: 2px solid  white;
	width: 25px;
	height: 25px;
}

#commande #btnMoins:hover{
	background-color: rgb(54, 54, 54);
}

#commande  #btnMoins:active{
	background-color: rgb(102, 102, 102);
}

#afficherStock{
	position: absolute;
	margin-left: 285px;
	margin-top: 5.5%;
	margin-bottom: 10px;
	z-index: 3;
}

#afficherStock #btnStock{
	background-color: black;
	color : white;
	border-radius: 2px;
	border: 2px solid  white;
}

#afficherStock #btnStock:hover{
	background-color: rgb(54, 54, 54);
}

#afficherStock  #btnStock:active{
	background-color: rgb(102, 102, 102);
}

/*---------------------- ZOOM IMG ----------------------*/

#zoomImg{
	margin-top : -293px;
	margin-left: -8px;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 4;
	background-image: grey;
	backdrop-filter: blur(4px);
	text-align: center;
	display:none;
}

#imgZ{
	border: 2px solid  white;
	margin-left: 15%;
	margin-top: 5%;
	height: 80%;
	width: 70%;
	background-size: 100%;
	background-color:grey;
	background-repeat: no-repeat;
	background-image: '';
}

#imgZ #fermerImg{
	background-color: black;
	color : white;
	border-radius: 2px;
	border: 2px solid  white;
	margin-right: -90%;
	margin-top: 1% ;
}

#imgZ #fermerImg:hover{
	background-color: rgb(54, 54, 54);
}

#imgZ  #fermerImg:active{
	background-color: rgb(102, 102, 102);
}


/*---------------------- CONNEXION / INSCRIPTION ----------------------*/

.connexion{
	z-index: 1;
	position:absolute;
	z-index: 1;
	backdrop-filter: blur(4px);
	background-color: rgba(104, 104, 104, 0.1);
	right: 10px;
	border-radius: 5px;
	border: 1px solid  black;
	height: 130px;
}

.connexion h1{
	text-align: center;
	font-size: medium;
	text-shadow: 0 0 0.1em white, 0 0 0.1em white,0 0 0.1em white;
}

.connexion form{
	text-align: center;
	margin: 4px;
	width: auto;
	height: 50px;
	color: black;
}

.connexion input{
	background-color: black;
	color : white;
	border-radius: 5px;
	border: 2px solid  white;
	padding: 5px;
	text-align: center;
}

.connexion input:hover{
	background-color: rgb(54, 54, 54);
}

.connexion input:active{
	background-color: rgb(102, 102, 102);
}

.deconnexion{
	z-index: 1;
	position:absolute;
	z-index: 1;
	backdrop-filter: blur(4px);
	background-color: rgba(104, 104, 104, 0.1);
	right: 10px;
	height: 90px;
	border-radius: 5px;
	border: 1px solid  black;
	padding: 5px;
}

.deconnexion h1{
	text-align: center;
	font-size: medium;
	text-shadow: 0 0 0.1em white, 0 0 0.1em white,0 0 0.1em white;
}

.deconnexion form{
	text-align: center;
	margin: 4px;
	width: auto;
	color: black;
}

.deconnexion input{
	background-color: black;
	color : white;
	border-radius: 5px;
	border: 2px solid  white;
	padding: 5px;
	text-align: center;
}

.deconnexion input:hover{
	background-color: rgb(54, 54, 54);
}

.deconnexion input:active{
	background-color: rgb(102, 102, 102);
}

/*====================INSCRIPTION========================*/

.inscription h1 {
	text-align: center;
}

.inscriptionContainer{
	background-color: black;
	position: absolute;
	margin-left: 35%;
	margin-top: 6vh;
	width: 30%;
	height: 70vh;
	display: inline-flex;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	overflow:scroll;
}

.inscription .erreur{
	background-color: black;
	position: absolute;
	margin-left: 35%;
	width: 30%;
	height: fit-content;
	color: white;
	border: 1px solid red;
	border-radius: 4px;
}

.inscription .erreur p{
	text-align: center;
	text-shadow: 0 0 0.1em red, 0 0 0.1em red,0 0 0.1em red;
}

.inscriptionContainer input[type = "text"],.inscriptionContainer input[type = "password"] ,.inscriptionContainer input[type=email],.inscriptionContainer input[type = "date"],.inscriptionContainer input[type = "tel"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	background: transparent;
}

.inscriptionContainer label
{
    width: fit-content;
    float: left;
}

.inscriptionContainer form {
    width: 60%;
	height: 105%;
    margin: 0 ;
    margin-right:auto;
    margin-left:auto;
    color : white;
	display: inline-block;
	padding-bottom: 10%;
	padding-top: 60px;
}


.inscriptionContainer input[type = "text"],.inscriptionContainer input[type = "password"] ,.inscriptionContainer input[type=email],.inscriptionContainer input[type = "date"],.inscriptionContainer input[type = "tel"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	background: transparent;
}

.inscriptionContainer input[type = "submit"],.inscriptionContainer input[type = "button"]{
    display: inline-block;
	margin-right:auto;
	margin-left:auto;
	border-radius:10px;
    width:fit-content;
    height:40px;
    color: white;
    border-color: white;
    outline: none;
    text-transform: uppercase;
    background: black;
}

.inscriptionContainer input[type="submit"]:hover,.inscriptionContainer input[type="button"]:hover {
    background-color: rgb(54, 54, 54);
}

.inscriptionContainer input[type="submit"]:active,.inscriptionContainer input[type="button"]:active{
	background-color: rgb(102, 102, 102);
}

/*======================== PROFIL =====================*/

.profilContainer{
	background-color: black;
	position: absolute;
	margin-left: calc(50px + 10vw);
	width: 60vw;
	height: 45vh;
	position: absolute;
	display: inline-flex;
	margin-top: 10%;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	overflow:scroll
}

.profil .erreur{
	margin-top: calc(10% - 5vh);
	margin-left: calc(50px + 10vw);
	display: inline;
	background-color: black;
	position: absolute;
	width: 60vw;
	height: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;

	color: red;
	border: 1px solid red;
	border-radius: 4px;
	text-align: center;
}

.profil .erreur{
	width: 60vw;
	text-shadow: 0 0 0.1em rgb(180, 94, 94), 0 0 0.1em rgb(180, 94, 94),0 0 0.1em rgb(180, 94, 94);
	text-align: center;
}

.profilContainer input[type = "text"],.profilContainer input[type = "password"] ,.profilContainer input[type=email],.profilContainer input[type = "date"],.profilContainer input[type = "tel"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	background: transparent;
}

.profilContainer label
{
    width: fit-content;
    float: left;
}

.profilContainer form {
    width: 60%;
	height: 165%;
    margin: 0 ;
    margin-right:auto;
    margin-left:auto;
    color : white;
	display: inline-block;
	padding-bottom: 10%;
	padding-top: 40px;
}


.profilContainer input[type = "text"],.profilContainer input[type = "password"] ,.profilContainer input[type=email],.profilContainer input[type = "date"],.profilContainer input[type = "tel"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	background: transparent;
}

.profilContainer input[type = "submit"],.profilContainer input[type = "button"]{
    display: inline-block;
	margin-right:auto;
	margin-left:auto;
	border-radius:10px;
    width:fit-content;
    height:40px;
    color: white;
    border-color: white;
    outline: none;
    text-transform: uppercase;
    background: black;
}

.profilContainer input[type="submit"]:hover,.profilContainer input[type="button"]:hover {
    background-color: rgb(54, 54, 54);
}

.profilContainer input[type="submit"]:active,.profilContainer input[type="button"]:active{
	background-color: rgb(102, 102, 102);
}

.profil .deconnecte{
	z-index: 1;
	position: absolute;
	margin-top: 15vh;
	margin-left: calc(300px + 10vw);
	backdrop-filter: blur(6px);
	border-radius: 5px;
	background-color: rgba(104, 104, 104, 0.1);
	border: 1px solid  black;
	width: 60vw;
	height: fit-content;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: x-large;
	color: white;
	text-shadow: 0 0 0.2em black, 0 0 0.2em black,0 0 0.2em black;
}

/*========================= PANIER =======================*/

#displayPanier{
	margin-left: -8px;
	margin-top: -38px;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 4;
	backdrop-filter: blur(4px);
	text-align: center;
	display:none;
}

#panierContainer{
	border: 2px solid  white;
	margin-top: 5%;
	margin-left: 15%;
	height: 80%;
	width: 70%;
	background-size: 100%;
	background-color:grey;
	background-repeat: no-repeat;
	background-image: '';
}


#panierContainer #fermerPanier{
	background-color: black;
	color : white;
	border-radius: 2px;
	border: 2px solid  white;
	margin-top: 1% ;
	position: relative;
}

#panierContainer #fermerPanier:hover{
	background-color: rgb(54, 54, 54);
}

#panierContainer  #fermerPanier:active{
	background-color: rgb(102, 102, 102);
}
